

/*This is the font used for the site*/
body {
  font-family: 'Arial', arial;

background-image: url("wood.jpg");

}

.imgcd {
  width: 500px; 
  height: 300px;
  background-image: url("pigstep.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top:50%;
  transform: translate(50%,-50%);
}

