

/*This is the font used for the site*/
body {
  font-family: 'Arial', arial;

background-image: url("wood.jpg");
background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgcd {

}

