/*This is the CSS document, the thing that controls all the style of the website*/

/*This is the background of the site*/
body {
  background: black;
}


/*This is the font used for the site*/
body {
  font-family: 'Arial', arial;
}

/*Header info*/

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: black;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: gray;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: white;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: white;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}


h2 {
  color: white;
}


   
